/* ---- CROSS-BROWSER RESET ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* body{
  padding-left: 5px;
  padding-right: 5px;
} */
html {
  scroll-behavior: smooth 5s;
  scroll-padding-top: 70px; /* equal to your header height */
}


img {
  max-width: 100%;
  display: block;
}

/* ---- CROSS-BROWSER PREFIXES ---- */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smooth {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

body{
  background-image: url(../hostel-images/hostel_image_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: opacity 1s ease-in-out;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

}


.login-box {
  position: relative;
  width: min(400px, 90%);
  height: min(440px, 40%);
  padding: 20px;
  background-color: #d3c84d;
  /* background-color: rgb(85, 138, 85); */
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 20px 5px rgb(38, 35, 35);/*Right, down*/
}

h2{
  font-size: 2em;
  color: #fc0a02;
  text-align: center;
  text-align: center;
  font-family: Playfair Display;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid rgb(0, 255, 0);
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  pointer-events: none;
  transition: .5s;
  font-weight: bold;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}


.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(70px, 50%);
  gap: 20px;
  margin-top: 10px;
  background-color: inherit;
}
/* :placeholder-shown{
  border: solid red;
  transition: opacity 0.3 ease;
} */

.buttons button{
  width: 60%;
  height: min(200px, 80%);
  font-family: lato;
  font-weight: bolder;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  background-color: inherit;
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(98, 222, 67);
  border-radius: 5px 0px 5px 0px;
  /* border: solid red; */
  padding: 15px;
}

button:hover{
  background-color:  #cac58d;
}

.altenative-text{
  text-align: center;
  font-weight: lighter;
  font-family: lato;
  font-weight: bolder;
}
.altenative-text a{
  color: #ee0909;
}


@media only screen and (max-width: 1200px){
  .login-box{
    padding: 0;
  }
  form{
    /* border: solid rgb(17, 0, 255); */
    padding-bottom: 10px;
  }
  h2{
    font-size: 1.3em;
    /* border: solid rgb(21, 255, 0); */
    margin-bottom: 15px;
  }
  .input-box{
    /* border: solid blue; */
    margin: 0;
    margin-bottom: 15px;
    height: 50px;
    padding-right: 30px;
  }
}

.password-wrapper {
  /* position: relative; */
  display: inline-block;
  position: absolute;
  width: 25px;
}
