/* ---- CROSS-BROWSER RESET ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* body{
  padding-left: 5px;
  padding-right: 5px;
} */
html {
  scroll-behavior: smooth 5s;
  scroll-padding-top: 70px; /* equal to your header height */
}


img {
  max-width: 100%;
  display: block;
}

/* ---- CROSS-BROWSER PREFIXES ---- */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smooth {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

body{
  background-image: url(../hostel-images/hostel_image_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: opacity 1s ease-in-out;
  
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;

}

form{
  /* border: solid red; */
  width: min(600px, 90%);
  height: 400px;
  padding: 20px;
  background-color: #d3c84d;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 2px 20px 5px rgb(38, 35, 35);/*Right, down*/
}
form label{
  width: min(300px, 40%);
  display: inline-block;
  padding-bottom: 20px;
}

label{
  font-size: clamp(.8rem, 2vw, 1.2rem);
  /* border: solid pink; */
  font-family: lato;
  font-weight: lighter;
}

form  input{
  border: 1px solid green;
  /* height: min(30px, 50%); */
  border-radius: 5px;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  /* width: min(20px, 40%); */
  width: min(200px, 35%);
  height: min(30px, 50%);
}
.header-text{
  font-family: Playfair Display;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 900;
  text-align: center;
}

.buttons{
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(70px, 50%);
  gap: 20px;
  margin-top: 10px;
  background-color: inherit;
  
}
/* :placeholder-shown{
  border: solid red;
  transition: opacity 0.3 ease;
} */

.buttons button{
  /* border: solid red; */
  width: 50%;
  height: min(200px, 80%);
  font-family: lato;
  font-weight: bolder;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  background-color: inherit;
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(98, 222, 67);
  border-radius: 5px 0px 5px 0px;
}

button:hover{
  background-color:  #cac58d;
}
.site-footer{
  margin-top: 400px;
  position: fixed;
}

.altenative-text{
  /* border: solid red; */
  text-align: center;
  font-weight: lighter;
  font-family: lato;
}
.password-wrapper {
  position: relative;
  display: inline-block;
  /* border: solid blue; */
  width: min(200px, 35%);
  /* overflow: hidden; */
  height: min(30px, 50%);
}

.password-wrapper input {
  padding-right: 40px; /* space for the icon */
  height: 100%;
  /* border: solid yellow; */
  width: 100%;
}

.password-wrapper img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* border: solid red; */
}

.error-message{
  /* border: solid red; */
  text-align: center;
  font-family: Fonte;
  font-size: clamp(.9rem, 2vw, 1.4rem);
  color: red;
  font-weight: bolder;
}






