/* ---- CROSS-BROWSER RESET ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth 5s;
  scroll-padding-top: 70px; /* equal to your header height */
}


img {
  max-width: 100%;
  display: block;
}

/* ---- CROSS-BROWSER PREFIXES ---- */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smooth {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
h3{
  font-family:  Playfair Display;
  text-align: center;
  font-size: clamp(25px, 2vw, 50px);
  color: black;
}
.projects-cards{
  margin-bottom: 80px;
}


.project-card{
  padding: 10px;
}

.project-heading{
  font-family: Sancreek;
  font-weight: lighter;
  color: rgb(194, 8, 8);
  font-size: clamp(20px, 2vw, 25px);
}
.project-description{
  font-size: clamp(15px, 2vw, 30px);
  font-family: lato;
  color: black;
  font-weight: bolder;
  /*text-shadow: 2px 2px 5px rgba(0,0,0,0.7);X-OFFSET, YOFFSET, BLUR RADUIS, COLOR*/
}
.project-info{
  font-size: clamp(20px, 2vw, 30px);
  font-family: Comorant-Garamond;
  font-weight: lighter;
}



.site-footer{
  position: fixed;
}